<a href="https://colab.research.google.com/github/6mini/study_pandas/blob/main/3_concat%2C_index%2C_melt%2C_merge%2C_grouphy%2C_mean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 한글폰트 사용 in colab
%matplotlib inline  

import matplotlib as mpl 
import matplotlib.pyplot as plt 
import matplotlib.font_manager as fm  

!apt-get update -qq
!apt-get install fonts-nanum* -qq

path = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf' 
font_name = fm.FontProperties(fname=path, size=10).get_name()
print(font_name)
plt.rc('font', family=font_name)

fm._rebuild()
mpl.rcParams['axes.unicode_minus'] = False

In [ ]:
import pandas as pd
 
urlhead = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/stocks/'

def mydf(myurl):
    df = pd.read_csv(urlhead + myurl).transpose()
    new_header = df.iloc[0] # 헤더 설정
    df = df[1:] # 1번부터 슬라이싱
    df.columns = new_header 
    return df[-1:] # 이유?

df = pd.concat([mydf('000080.csv'), mydf('000890.csv'), mydf('005300.csv'), mydf('027740.csv'), mydf('035810.csv'), mydf('136480.csv')])
df = df.reset_index() # creat new index
df = df.drop(df.columns[0], axis=1)

df = df[['매출액','자산총계','EPS(원)']]

df

In [ ]:
df1 = pd.DataFrame(
    {'종목' : ['000080', '000890', '005300', '027740', '035810', '136480', '136490'],
     '종목명': ['하이트진로', '보해양조', '롯데칠성', '마니커', '이지홀딩스', '하림', '선진'], 
     '테마' : ['주류', '주류', '주류', '육계', '육계', '육계', '돼지고기']}
)
df1 = df1.drop(6)
df1 = df1['종목명']
df1

In [ ]:
df = pd.concat([df, df1], axis = 1) # 합친다.
df['분기'] = ['2020/09', '2020/09', '2020/09', '2020/09', '2020/06', '2020/09']
df

In [ ]:
df = df.set_index('분기') 인덱스 설정
df

In [ ]:
df.shape

In [ ]:
import numpy as np
import seaborn as sns

def toInt(str):
    return int(str.replace(',',''))

#멜팅하는 법
df_tidy = pd.melt(df.reset_index(), id_vars=['종목명'], value_vars=['매출액', '자산총계', 'EPS(원)'], var_name='Feature', value_name='value')
df_tidy['value'] = df_tidy['value'].apply(toInt)
df_tidy

In [ ]:
sns.boxplot(data = df_tidy, x = '종목명', y = 'value');

In [ ]:
import pandas as pd

left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})
left

In [ ]:
right

In [ ]:
df2 = pd.merge(left, right, how='outer') # how의 값 : outher
df2 = df2.drop(5)
df2

In [ ]:
dat1 = pd.DataFrame({
    '종목명' : ['대한해운', '팬오션', 'KSS해운', '에스엘바이오닉스', '오성첨단소재', '에이아이비트'],
    '매출액' : [8841, 24972, 2262, 286, 796, 292],
    '자본총계' : [8533, 28066, 2688, 470, 1944, 452],
    'EPS' : [72, 235, 1099, -164, 165, -350],
    '테마' : ['해운', '해운','해운','마리화나(대마)','마리화나(대마)','마리화나(대마)']
})
dat1

In [ ]:
# groupby, mean
dat = dat1.groupby('테마').mean()
dat = dat.reindex(index = ['해운', '마리화나(대마)'])
dat = dat.reset_index()
dat

In [ ]:
sns.barplot(x = '테마', y = '매출액', data = dat);
plt.show()
sns.barplot(x = '테마', y = '자본총계', data = dat);
plt.show()
sns.barplot(x = '테마', y = 'EPS', data = dat);
plt.show()