<a href="https://colab.research.google.com/github/6mini/AI_Fashion_Analyzer/blob/main/n112a_feature_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment

## 1. Feature Engineering

- `KT&G` ê¸°ì—… ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df`ë¡œ ì €ì¥í•˜ì„¸ìš”.

- ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”. 
  - Feature ì´ë¦„ì€ `ì˜ì—…ì´ìµë¥ 2` ì…ë‹ˆë‹¤.

- ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df2`, feature ì´ë¦„ì€ `PDR`ë¡œ, `df2['PDR']`ì„ í†µí•´ `~` ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤. ì•„ë˜ì˜ ì „ì œì¡°ê±´ì„ í™œìš©í•˜ì„¸ìš”.
  - ì ìœ ìœ¨ (ì¼ë°˜ë‹´ë°° ê¸°ì¤€) 
    - 18ë…„ : 62%
    - 19ë…„ : 63.5% 
  - ì‹œì¥ì˜ ê·œëª¨ 
     - 18ë…„ : 15ì¡° 
     - 19ë…„ : 15ì¡°

||êµ¬ë¶„|ì¢…ê°€|ë°œí–‰ì£¼ì‹ìˆ˜|ì‹œê°€ì´ì•¡|ì‹œì¥ì ìœ ìœ¨|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ë…„|101500|137292497|13935188445500|62.0|~|
|1|19ë…„|93800|137292497|12878036218600|63.5|~|

In [1]:
import matplotlib.pyplot as plot
import pandas as pd
import numpy as np
from pandas import DataFrame

url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']

df = pd.read_csv(url, names = headers)
df

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨ EPS(ì›)  PER(ë°°)
0   19/6  12,578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
3   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
4   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[5 rows x 25 columns]

In [2]:
#str replace
def toInt(string):
    return int(string.replace(',',''))

df['ë§¤ì¶œì•¡'] = df['ë§¤ì¶œì•¡'].apply(toInt)
df['ì˜ì—…ì´ìµ'] = df['ì˜ì—…ì´ìµ'].apply(toInt)
df['ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)'] = df['ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)'].apply(toInt)
df['ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ'] = df['ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ'].apply(toInt)
df['ë‹¹ê¸°ìˆœì´ìµ'] = df['ë‹¹ê¸°ìˆœì´ìµ'].apply(toInt)
df['ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)'] = df['ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)'].apply(toInt)
df['ìì‚°ì´ê³„'] = df['ìì‚°ì´ê³„'].apply(toInt)
df['ë¶€ì±„ì´ê³„'] = df['ë¶€ì±„ì´ê³„'].apply(toInt)
df['ìë³¸ì´ê³„'] = df['ìë³¸ì´ê³„'].apply(toInt)
df['ìë³¸ì´ê³„(ì§€ë°°)'] = df['ìë³¸ì´ê³„(ì§€ë°°)'].apply(toInt)
df['ìë³¸ê¸ˆ'] = df['ìë³¸ê¸ˆ'].apply(toInt)
df['ì˜ì—…í™œë™í˜„ê¸ˆíë¦„'] = df['ì˜ì—…í™œë™í˜„ê¸ˆíë¦„'].apply(toInt)
df['íˆ¬ìí™œë™í˜„ê¸ˆíë¦„'] = df['íˆ¬ìí™œë™í˜„ê¸ˆíë¦„'].apply(toInt)
df['ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„'] = df['ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„'].apply(toInt)
df['EPS(ì›)'] = df['EPS(ì›)'].apply(toInt)
df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)
0   19/6  12578  3991        3991  ...  31.43  803.22    2351   13.77
1   19/9  13222  3825        3825  ...  24.17  836.86    2337   13.87
2  19/12  11982  2523        2523  ...  23.04  850.82     873   12.42
3   20/3  11784  3150        3150  ...  29.69  823.16    2134    9.71
4   20/6  13188  3947        3947  ...  26.91  837.40    2135   10.46

[5 rows x 25 columns]

In [3]:
# ì˜ì—…ì´ìµë¥  : ë§¤ì¶œì•¡ì—ì„œ ë°œìƒí•œ ì˜ì—…ìˆ˜ìµì— ëŒ€í•œ ì˜ì—…ì´ìµì˜ ë¹„ìœ¨
df['ì˜ì—…ì´ìµë¥ 2'] = round((df['ì˜ì—…ì´ìµ'] / df['ë§¤ì¶œì•¡']) * 100, 2)
df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)  ì˜ì—…ì´ìµë¥ 2
0   19/6  12578  3991        3991  ...  803.22    2351   13.77   31.73
1   19/9  13222  3825        3825  ...  836.86    2337   13.87   28.93
2  19/12  11982  2523        2523  ...  850.82     873   12.42   21.06
3   20/3  11784  3150        3150  ...  823.16    2134    9.71   26.73
4   20/6  13188  3947        3947  ...  837.40    2135   10.46   29.93

[5 rows x 26 columns]

In [4]:
data = {'êµ¬ë¶„': ['18ë…„', '19ë…„'],
        'ì¢…ê°€': [101500, 93800],
        'ë°œí–‰ì£¼ì‹ìˆ˜': [137292497, 137292497],
        'ì‹œê°€ì´ì•¡': [13935188445500, 12878036218600],
        'ì‹œì¥ì ìœ ìœ¨': [62.0, 63.5]}

df2 = DataFrame(data)
df2

    êµ¬ë¶„      ì¢…ê°€      ë°œí–‰ì£¼ì‹ìˆ˜            ì‹œê°€ì´ì•¡  ì‹œì¥ì ìœ ìœ¨
0  18ë…„  101500  137292497  13935188445500   62.0
1  19ë…„   93800  137292497  12878036218600   63.5

In [5]:
# PDR ê³„ì‚°
df2['PDR'] = df2['ì‹œê°€ì´ì•¡'] / (15000000000000 * df2['ì‹œì¥ì ìœ ìœ¨'] / 100) * 100
df2

    êµ¬ë¶„      ì¢…ê°€      ë°œí–‰ì£¼ì‹ìˆ˜            ì‹œê°€ì´ì•¡  ì‹œì¥ì ìœ ìœ¨         PDR
0  18ë…„  101500  137292497  13935188445500   62.0  149.840736
1  19ë…„   93800  137292497  12878036218600   63.5  135.202480

In [6]:
df2['PDR']

0    149.840736
1    135.202480
Name: PDR, dtype: float64

## 2. String Manipulation

- replaceê°€ ì•„ë‹Œ ë‹¤ë¥¸ ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ 19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ì„ integerë¡œ ë³€ê²½í•˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 12578ì´ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [7]:
import re

string = '12,578'
string = re.sub(',','',string)
string = int(string)
type(string)
string

12578

## 3. Apply
- ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„° (`int`, `float`) ë¡œ ìˆ˜ì •í•˜ê³ , `describe`ë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ë‹¨ ê²°ì¸¡ì¹˜ëŠ” `0`ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.

In [8]:
df = df.fillna(0)
df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)  ì˜ì—…ì´ìµë¥ 2
0   19/6  12578  3991        3991  ...  803.22    2351   13.77   31.73
1   19/9  13222  3825        3825  ...  836.86    2337   13.87   28.93
2  19/12  11982  2523        2523  ...  850.82     873   12.42   21.06
3   20/3  11784  3150        3150  ...  823.16    2134    9.71   26.73
4   20/6  13188  3947        3947  ...  837.40    2135   10.46   29.93

[5 rows x 26 columns]

In [9]:
df.dtypes

ë¶„ê¸°             object
ë§¤ì¶œì•¡             int64
ì˜ì—…ì´ìµ            int64
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)      int64
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ        int64
ë‹¹ê¸°ìˆœì´ìµ           int64
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)       int64
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„            int64
ë¶€ì±„ì´ê³„            int64
ìë³¸ì´ê³„            int64
ìë³¸ì´ê³„(ì§€ë°°)        int64
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ             int64
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„        int64
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„        int64
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„        int64
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)          int64
PER(ë°°)        float64
ì˜ì—…ì´ìµë¥ 2        float64
dtype: object

In [10]:
df.describe()

                ë§¤ì¶œì•¡         ì˜ì—…ì´ìµ  ...     PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
count      5.000000     5.000000  ...   5.000000   5.000000
mean   12550.800000  3487.200000  ...  12.046000  27.676000
std      664.979097   636.931079  ...   1.898112   4.115651
min    11784.000000  2523.000000  ...   9.710000  21.060000
25%    11982.000000  3150.000000  ...  10.460000  26.730000
50%    12578.000000  3825.000000  ...  12.420000  28.930000
75%    13188.000000  3947.000000  ...  13.770000  29.930000
max    13222.000000  3991.000000  ...  13.870000  31.730000

[8 rows x 25 columns]

In [11]:
df.shape

(5, 26)

In [12]:
round(df2['PDR'], 3)

0    149.841
1    135.202
Name: PDR, dtype: float64

In [13]:
round(df['ì˜ì—…ì´ìµë¥ 2'], 3)

0    31.73
1    28.93
2    21.06
3    26.73
4    29.93
Name: ì˜ì—…ì´ìµë¥ 2, dtype: float64

In [14]:
df['ë§¤ì¶œì•¡'][0]

12578

In [15]:
(df.dtypes == 'O').sum()

1

## ğŸ”¥ ë„ì „ê³¼ì œ

### NA Value Handling

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

In [16]:
df.loc[2, 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'] = np.nan
df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)  ì˜ì—…ì´ìµë¥ 2
0   19/6  12578  3991        3991  ...  803.22    2351   13.77   31.73
1   19/9  13222  3825        3825  ...  836.86    2337   13.87   28.93
2  19/12  11982  2523        2523  ...  850.82     873   12.42   21.06
3   20/3  11784  3150        3150  ...  823.16    2134    9.71   26.73
4   20/6  13188  3947        3947  ...  837.40    2135   10.46   29.93

[5 rows x 26 columns]

In [17]:
df = df.fillna(df.mean())
df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)  ì˜ì—…ì´ìµë¥ 2
0   19/6  12578  3991        3991  ...  803.22    2351   13.77   31.73
1   19/9  13222  3825        3825  ...  836.86    2337   13.87   28.93
2  19/12  11982  2523        2523  ...  850.82     873   12.42   21.06
3   20/3  11784  3150        3150  ...  823.16    2134    9.71   26.73
4   20/6  13188  3947        3947  ...  837.40    2135   10.46   29.93

[5 rows x 26 columns]

### Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- 10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.

In [18]:
s = (sum(df['ë§¤ì¶œì•¡']) / 5) + (sum(df['ë§¤ì¶œì•¡']) / 5 * 0.1)
a = (sum(df['ë§¤ì¶œì•¡']) / 5) + (sum(df['ë§¤ì¶œì•¡']) / 5 * 0.05)
c = (sum(df['ë§¤ì¶œì•¡']) / 5) - (sum(df['ë§¤ì¶œì•¡']) / 5 * 0.05)
d = (sum(df['ë§¤ì¶œì•¡']) / 5) - (sum(df['ë§¤ì¶œì•¡']) / 5 * 0.1)
print('Së“±ê¸‰ :', s, 'ì´ìƒ')
print('Aë“±ê¸‰ :', a, 'ì´ìƒ')
print('Bë“±ê¸‰ :', c, '~', a)
print('Cë“±ê¸‰ :', c, 'ì´í•˜')
print('Dë“±ê¸‰ :', d, 'ì´í•˜')

Së“±ê¸‰ : 13805.88 ì´ìƒ
Aë“±ê¸‰ : 13178.34 ì´ìƒ
Bë“±ê¸‰ : 11923.259999999998 ~ 13178.34
Cë“±ê¸‰ : 11923.259999999998 ì´í•˜
Dë“±ê¸‰ : 11295.72 ì´í•˜

In [19]:
def RP(mechoorack):
    if mechoorack >= s:
        return 'S'
    elif mechoorack >= a:
        return 'A'
    elif a > mechoorack > c:
        return 'B'
    elif mechoorack <= c:
        return 'C'
    else:
        return 'D'

In [20]:
df['Relative Perfomance'] = df['ë§¤ì¶œì•¡'].apply(RP)
df

      ë¶„ê¸°    ë§¤ì¶œì•¡  ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...  EPS(ì›)  PER(ë°°)  ì˜ì—…ì´ìµë¥ 2  Relative Perfomance
0   19/6  12578  3991        3991  ...    2351   13.77   31.73                    B
1   19/9  13222  3825        3825  ...    2337   13.87   28.93                    A
2  19/12  11982  2523        2523  ...     873   12.42   21.06                    B
3   20/3  11784  3150        3150  ...    2134    9.71   26.73                    C
4   20/6  13188  3947        3947  ...    2135   10.46   29.93                    A

[5 rows x 27 columns]