<a href="https://colab.research.google.com/github/6mini/AI_Fashion_Analyzer/blob/main/n121a_hypothesis_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 1*

# ğŸ“ Assignment

# ê°€ì„¤ ê²€ì •

## 1. One-Sample T-test ì—°ìŠµ

### ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
- [ì„œìš¸ì‹œ ê°€ë¡œìˆ˜ ë°ì´í„°ì…‹](https://data.seoul.go.kr/dataList/367/S/2/datasetView.do)ì„ ì‚¬ìš©í•©ë‹ˆë‹¤.

ë‹¤ìŒ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì„¸ìš”. 
<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt>

In [1]:
import pandas as pd

trees = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt', sep = '\t', skiprows = 1)
trees = trees.replace({'-':0})
trees.head()

     ê¸°ê°„  ìì¹˜êµ¬    ë…¸ì„ ìˆ˜       ìˆ˜ëŸ‰     ì€í–‰ë‚˜ë¬´  ...    ë¬´ê¶í™”    ì†Œë‚˜ë¬´   ëª©ë ¨    ì´íŒë‚˜ë¬´      ê¸°íƒ€
0  2019  ì„œìš¸ì‹œ  1,412  307,351  108,050  ...  2,374  4,539  378  20,088  20,112
1  2019  ì¢…ë¡œêµ¬     70    7,329    4,072  ...      0    239    0     711      29
2  2019   ì¤‘êµ¬     48    8,250    3,640  ...     46  2,162    0     470     817
3  2019  ìš©ì‚°êµ¬     39    7,835    4,444  ...      0     51  126     198     780
4  2019  ì„±ë™êµ¬     38    8,120    1,090  ...      0     53    0     709     646

[5 rows x 24 columns]

### "ì„œìš¸ì‹œì—ëŠ” êµ¬ë³„ë¡œ í‰ê·  ì•½ 400 ê·¸ë£¨ ì •ë„ì˜ `ì´íŒë‚˜ë¬´`ê°€ ìˆë‹¤"ë¼ëŠ” ê°€ì„¤ì— ëŒ€í•´ ê°€ì„¤ê²€ì •ì„ ì‹œí–‰í•˜ì„¸ìš”.

- ë‹¨, `ì„œìš¸ì‹œ`, `ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ`, `ì‹œì„¤ê´€ë¦¬ê³µë‹¨` ë¶€ë¶„ì˜ ë°ì´í„°ëŠ” ì œì™¸í•©ë‹ˆë‹¤.
- ê°€ì„¤ê²€ì • ê²°ê³¼ì˜ pvalue ê°’ì„ `pv1`ì— ì €ì¥í•˜ì„¸ìš”. (`.pvalue` ì‚¬ìš©)

In [2]:
# ì„œìš¸ì‹œ, ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ, ì‹œì„¤ê´€ë¦¬ê³µë‹¨ ë¶€ë¶„ì˜ ë°ì´í„°ëŠ” ì œì™¸
tridx1 = trees[trees['ìì¹˜êµ¬'] == 'ì„œìš¸ì‹œ'].index
tridx2 = trees[trees['ìì¹˜êµ¬'] == 'ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ'].index
tridx3 = trees[trees['ìì¹˜êµ¬'] == 'ì‹œì„¤ê´€ë¦¬ê³µë‹¨'].index
trees = trees.drop(tridx1)
trees = trees.drop(tridx2)
trees = trees.drop(tridx3)
trees.head()

     ê¸°ê°„  ìì¹˜êµ¬ ë…¸ì„ ìˆ˜     ìˆ˜ëŸ‰   ì€í–‰ë‚˜ë¬´  ì–‘ë²„ì¦˜ë‚˜ë¬´  ... ì‚´êµ¬ë‚˜ë¬´ ë¬´ê¶í™”    ì†Œë‚˜ë¬´   ëª©ë ¨ ì´íŒë‚˜ë¬´   ê¸°íƒ€
1  2019  ì¢…ë¡œêµ¬  70  7,329  4,072  1,071  ...    0   0    239    0  711   29
2  2019   ì¤‘êµ¬  48  8,250  3,640    162  ...   21  46  2,162    0  470  817
3  2019  ìš©ì‚°êµ¬  39  7,835  4,444  1,422  ...   39   0     51  126  198  780
4  2019  ì„±ë™êµ¬  38  8,120  1,090  2,401  ...    0   0     53    0  709  646
5  2019  ê´‘ì§„êµ¬  28  7,223  1,247  2,306  ...    0   0     20  113  760  443

[5 rows x 24 columns]

In [3]:
epop = pd.to_numeric(trees['ì´íŒë‚˜ë¬´'].str.replace(',',''))
epop.head()

1    711
2    470
3    198
4    709
5    760
Name: ì´íŒë‚˜ë¬´, dtype: int64

In [4]:
import numpy as np
from scipy import stats as st

print(np.mean(epop))

# ì„œìš¸ì‹œì—ëŠ” êµ¬ë³„ë¡œ í‰ê·  ì•½ 400 ê·¸ë£¨ ì •ë„ì˜ ì´íŒë‚˜ë¬´ê°€ ìˆë‹¤"ë¼ëŠ” ê°€ì„¤ì— ëŒ€í•´ ê°€ì„¤ê²€ì •ì„ ì‹œí–‰
pv1 = st.ttest_1samp(epop, 400).pvalue
print(pv1)

688.64
0.002470712850935819

### ì´ë²ˆì—ëŠ” 10ê°œì˜ êµ¬ë¥¼ ìƒ˜í”Œë§í•˜ì—¬, ìœ„ì— ëŒ€í•œ ê°€ì„¤ê²€ì •ì„ ë‹¤ì‹œ í•œë²ˆ ì‹œí–‰í•´ë³´ì„¸ìš”.

- ë‹¨, ì•„ë˜ì˜ ì½”ë“œë¥¼ ì°¸ì¡°í•˜ì—¬ sampleì„ ìœ„í•œ seed ëŠ” 123ë¡œ ì„¤ì •í•˜ì„¸ìš”.
- ê°€ì„¤ê²€ì • ê²°ê³¼ì˜ pvalueê°’ì„ `pv2`ì— ì €ì¥í•˜ì„¸ìš”

In [24]:
# random seedì™€ choiceì˜ ê´€ê³„
np.random.seed(123)
epop2 = np.random.choice(epop, size = 10)
# ì¤‘ë³µì œê±°
epop2 = np.unique(epop2) 
pv2 = st.ttest_1samp(epop2, 400).pvalue
pv2

0.38638498922886266

## 2. Two-Sample T-test ì—°ìŠµ

### "ì„œìš¸ì‹œì˜ êµ¬ë³„ í‰ê·  ëŠí‹°ë‚˜ë¬´ìˆ˜ì™€ ì™•ë²šë‚˜ë¬´ì˜ ìˆ˜ëŠ” ì°¨ì´ê°€ ì—†ë‹¤"ë¼ëŠ” ê°€ì„¤ì— ëŒ€í•´ ê°€ì„¤ê²€ì •ì„ ì‹œí–‰í•˜ì„¸ìš”.

- ë‹¨, `ì„œìš¸ì‹œ`, `ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ`, `ì‹œì„¤ê´€ë¦¬ê³µë‹¨` ë¶€ë¶„ì˜ ë°ì´í„°ëŠ” ì œì™¸í•©ë‹ˆë‹¤.
- ê°€ì„¤ê²€ì • ê²°ê³¼ì˜ pvalueë¥¼ `pv3`ì— ì €ì¥í•˜ì„¸ìš”

In [6]:
# H0 : ëŠí‹° = ì™•ë²š
# H1 : ëŠí‹° != ì™•ë²š
nttree = pd.to_numeric(trees['ëŠí‹°ë‚˜ë¬´'].str.replace(',',''))
kingtree = pd.to_numeric(trees['ì™•ë²šë‚˜ë¬´'].str.replace(',',''))
print(nttree.head())
print(kingtree.head())

1     619
2     460
3     373
4    1975
5    1057
Name: ëŠí‹°ë‚˜ë¬´, dtype: int64
1    421
2    289
3    262
4    602
5    940
Name: ì™•ë²šë‚˜ë¬´, dtype: int64

In [7]:
print(np.mean(nttree))
print(np.mean(kingtree))

1415.12
1292.0

In [8]:
pv3 = st.ttest_ind(nttree,kingtree).pvalue
pv3
# H0 ê¸°ê°í•  ìˆ˜ ì—†ë‹¤.

0.6455096880085703


### Two-Sample One-tailed testë¥¼ ì‚¬ìš©í•˜ì—¬ **í‰ê·  ëŠí‹°ë‚˜ë¬´ìˆ˜ê°€ ì™•ë²šë‚˜ë¬´ ìˆ˜ë³´ë‹¤ í¬ë‹¤**ë¼ëŠ” ê°€ì„¤ì— ëŒ€í•œ ê°€ì„¤ê²€ì •ì„ ì‹œí–‰í•˜ì„¸ìš”.
- í•´ë‹¹ ê°€ì„¤ê²€ì •ì˜ ê²°ê³¼ë¥¼ `ans`ì— ì €ì¥í•˜ì„¸ìš”.

ì´ ë•Œ `ans`ê°€ ê°€ì§ˆ ìˆ˜ ìˆëŠ” ê°’ì€ ì•„ë˜ì™€ ê°™ìŠµë‹ˆë‹¤ :
1. "ëŠí‹°ë‚˜ë¬´" ( ëŠí‹°ë‚˜ë¬´ì˜ ìˆ˜ê°€ í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•˜ê²Œ ë§ì€ ê²½ìš° )
2. "ì™•ë²šë‚˜ë¬´" ( ì™•ë²šë‚˜ë¬´ì˜ ìˆ˜ê°€ í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•˜ê²Œ ë§ì€ ê²½ìš° )
3. "ì—†ìŒ" (í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•˜ì§€ ì•Šì€ ê²½ìš°)

Two-Sample One-tailed testë¥¼ scipyì—ì„œ í•˜ëŠ” ë°©ë²•ì€ ì•„ë˜ì˜ ë§í¬ë¥¼ ì°¸ê³  í•˜ì„¸ìš”  
ì°¸ê³  ë§í¬ : https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html

In [9]:
# ì•„ë˜ì˜ ì½”ë“œë¥¼ ì‹¤í–‰í•´ì£¼ì„¸ìš”
!pip install scipy --upgrade

Requirement already up-to-date: scipy in /usr/local/lib/python3.7/dist-packages (1.7.0)
Requirement already satisfied, skipping upgrade: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from scipy) (1.19.5)

In [10]:
t = st.ttest_ind(nttree,kingtree).statistic

In [11]:
# one tailed
# ê·€ë¬´ : ëŠí‹° > ì™•ë²š
# ëŒ€ì•ˆ : ì™•ë²š >=ëŠí‹°

print(st.ttest_ind(nttree,kingtree))
print(st.ttest_ind(kingtree,nttree))

if pv3 / 2 < 0.05 and t > 0:
    ans = "ëŠí‹°ë‚˜ë¬´"
elif pv3 / 2 < 0.05 and t < 0:
    ans = "ì™•ë²šë‚˜ë¬´"
else:
    ans = "ì—†ìŒ"

Ttest_indResult(statistic=0.4629256014492562, pvalue=0.6455096880085703)
Ttest_indResult(statistic=-0.4629256014492562, pvalue=0.6455096880085703)

In [12]:
ans

'ì—†ìŒ'

## ğŸ”¥ **ë„ì „ê³¼ì œ**
> 2ë¬¸ì œ ëª¨ë‘ í•˜ë©´ ë©ë‹ˆë‹¤.

### 1. Compare mean for multiple-sample 
 
ë‹¤ìŒ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì„¸ìš”. <https://reneshbedre.github.io/blog/anova.html>

êµ¬ë³„, ì€í–‰ë‚˜ë¬´, ì–‘ë²„ì¦˜ë‚˜ë¬´, ëŠí‹°ë‚˜ë¬´ì— ëŒ€í•´ì„œ ANOVA Testë¥¼ ì‹¤í–‰í•˜ì„¸ìš”.

ë‹¨, `ì„œìš¸ì‹œ`, `ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ`, `ì‹œì„¤ê´€ë¦¬ê³µë‹¨` ë¶€ë¶„ì˜ ë°ì´í„°ëŠ” ì œì™¸í•©ë‹ˆë‹¤.

In [13]:
bank = pd.to_numeric(trees['ì€í–‰ë‚˜ë¬´'].str.replace(',',''))
sheep = pd.to_numeric(trees['ì–‘ë²„ì¦˜ë‚˜ë¬´'].str.replace(',',''))
print(bank.head())
print(sheep.head())
print(nttree.head())

1    4072
2    3640
3    4444
4    1090
5    1247
Name: ì€í–‰ë‚˜ë¬´, dtype: int64
1    1071
2     162
3    1422
4    2401
5    2306
Name: ì–‘ë²„ì¦˜ë‚˜ë¬´, dtype: int64
1     619
2     460
3     373
4    1975
5    1057
Name: ëŠí‹°ë‚˜ë¬´, dtype: int64

In [23]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
import matplotlib.pyplot as plt
# anova test
print(st.f_oneway(bank, sheep, nttree))
afv, apv = st.f_oneway(bank, sheep, nttree)
print('ANOVA Test ê²°ê³¼ : F={0:.1f}, P={1:.5f}'.format(afv, apv))
if apv < 0.05:
    print('P-value ê°’ì´ ì¶©ë¶„íˆ ì‘ìŒìœ¼ë¡œ ì¸í•´ ê·¸ë£¹ì˜ í‰ê· ê°’ì´ í†µê³„ì ìœ¼ë¡œ ìœ ì˜ë¯¸í•˜ê²Œ ì°¨ì´ë‚©ë‹ˆë‹¤.')

F_onewayResult(statistic=17.006289557888046, pvalue=8.935183167883698e-07)
ANOVA Test ê²°ê³¼ : F=17.0, P=0.00000
P-value ê°’ì´ ì¶©ë¶„íˆ ì‘ìŒìœ¼ë¡œ ì¸í•´ ê·¸ë£¹ì˜ í‰ê· ê°’ì´ í†µê³„ì ìœ¼ë¡œ ìœ ì˜ë¯¸í•˜ê²Œ ì°¨ì´ë‚©ë‹ˆë‹¤.

### 2. Sampling

- ì„¸ì…˜ ì‹œê°„ì— ë°°ì› ë˜ 4ê°€ì§€ sampling (Simple Random, Systematic, Stratified Random, Cluster) ë°©ì‹ì„ êµ¬í˜„í•´ë³´ì„¸ìš”.

- ì´ë¥¼ ìœ„í•œ ë°ì´í„°ëŠ” 1 ë¶€í„° 100ì„ ë‹´ì€ numpy arrayì´ë©°, Sampling í•´ì•¼ í•˜ëŠ” ìˆ˜ëŠ” 20ê°œ ì…ë‹ˆë‹¤.

- Stratified Random Samplingì„ ìœ„í•œ ê·¸ë£¹ì„ ë‚˜ëˆ„ëŠ” ê¸°ì¤€ì€ 1-10, 11-20, ... ê³¼ ê°™ì€ ë°©ì‹ì…ë‹ˆë‹¤.

- Cluster Samplingì—ì„œ ê·¸ë£¹ì„ ë‚˜ëˆ„ëŠ” ê¸°ì¤€ì€ 5ë¡œ ë‚˜ëˆ´ì„ë•Œì˜ ë‚˜ë¨¸ì§€ ê°’ì…ë‹ˆë‹¤. (0,1,2,3,4)

In [15]:
# 1-100 ë°°ì—´ ë§Œë“¤ê¸°
nparr = []
for i in range(1, 101):
    nparr.append(i)

In [16]:
#ë°°ì—´ ë°ì´í„° í”„ë ˆì„í™”
ar = np.array(nparr)
df_ar = pd.DataFrame(ar)
df_ar.head()

   0
0  1
1  2
2  3
3  4
4  5

In [17]:
#simple
simple_random_sample = df_ar.sample(n = 20).sort_values(by=0)
simple_random_sample

     0
0    1
4    5
5    6
8    9
13  14
31  32
35  36
42  43
44  45
50  51
59  60
70  71
81  82
82  83
86  87
88  89
92  93
94  95
97  98
98  99

In [18]:
# systematic í•¨ìˆ˜ ìƒì„±
def systematic_sampling(df, step):
    indexes = np.arange(0,len(df),step=step)
    systematic_sample = df.iloc[indexes]
    return systematic_sample
    
# 20ê°œ ë½‘ê¸° ìœ„í•´ step 5ë¡œ ì„¤ì •
systematic_sample = systematic_sampling(df_ar, 5)
systematic_sample

     0
0    1
5    6
10  11
15  16
20  21
25  26
30  31
35  36
40  41
45  46
50  51
55  56
60  61
65  66
70  71
75  76
80  81
85  86
90  91
95  96

In [19]:
# Stratified ì¶”ì¶œ í•¨ìˆ˜
def Stratified_sampling(df, number_of_Stratifieds):
    df['Stratified_id'] = np.repeat([range(1,number_of_Stratifieds+1)],len(df)/number_of_Stratifieds)
    indexes = []
    for i in range(0,len(df)):
        if df['Stratified_id'].iloc[i]%5 == 0:
            indexes.append(i)
    Stratified_sample = df.iloc[indexes]
    return Stratified_sample
        
Stratified_sample = Stratified_sampling(df_ar,10)
Stratified_sample

      0  Stratified_id
40   41              5
41   42              5
42   43              5
43   44              5
44   45              5
45   46              5
46   47              5
47   48              5
48   49              5
49   50              5
90   91             10
91   92             10
92   93             10
93   94             10
94   95             10
95   96             10
96   97             10
97   98             10
98   99             10
99  100             10

In [20]:
# ë‚˜ë¨¸ì§€ ê°’ì— ë”°ë¥¸ ë³„ë¡œ ê·¸ë£¹ ë§Œë“¤ì–´ì£¼ê¸°
cl_arr = []
for i in range(1,101):
    if i % 5 == 0:
        cl_arr.append(0)
    if i % 5 == 1:
        cl_arr.append(1)
    if i % 5 == 2:
        cl_arr.append(2)
    if i % 5 == 3:
        cl_arr.append(3)
    if i % 5 == 4:
        cl_arr.append(4)
df_ar['cl_id'] = cl_arr
df_ar.head()

   0  Stratified_id  cl_id
0  1              1      1
1  2              1      2
2  3              1      3
3  4              1      4
4  5              1      0

In [21]:
# ë‚œìˆ˜ í•˜ë‚˜ë§Œ ì¶”ì¶œí•˜ì—¬ ë‚˜ë¨¸ì§€ ê·¸ë£¹ ì¶”ì¶œ
from random import *
rdi = randrange(4)
Cluster_Sample = df_ar[df_ar['cl_id'] == rdi]
Cluster_Sample

     0  Stratified_id  cl_id
1    2              1      2
6    7              1      2
11  12              2      2
16  17              2      2
21  22              3      2
26  27              3      2
31  32              4      2
36  37              4      2
41  42              5      2
46  47              5      2
51  52              6      2
56  57              6      2
61  62              7      2
66  67              7      2
71  72              8      2
76  77              8      2
81  82              9      2
86  87              9      2
91  92             10      2
96  97             10      2

In [22]:
print(simple_random_sample)
print(systematic_sample)
print(Stratified_sample)
print(Cluster_Sample)

     0
0    1
4    5
5    6
8    9
13  14
31  32
35  36
42  43
44  45
50  51
59  60
70  71
81  82
82  83
86  87
88  89
92  93
94  95
97  98
98  99
     0
0    1
5    6
10  11
15  16
20  21
25  26
30  31
35  36
40  41
45  46
50  51
55  56
60  61
65  66
70  71
75  76
80  81
85  86
90  91
95  96
      0  Stratified_id
40   41              5
41   42              5
42   43              5
43   44              5
44   45              5
45   46              5
46   47              5
47   48              5
48   49              5
49   50              5
90   91             10
91   92             10
92   93             10
93   94             10
94   95             10
95   96             10
96   97             10
97   98             10
98   99             10
99  100             10
     0  Stratified_id  cl_id
1    2              1      2
6    7              1      2
11  12              2      2
16  17              2      2
21  22              3      2
26  27              3      2
31  32              4      2
36  37              4      2
41  42              5      2
46  47              5      2
51  52              6      2
56  57              6      2
61  62              7      2
66  67              7      2
71  72              8      2
76  77              8      2
81  82              9      2
86  87              9      2
91  92             10      2
96  97             10      2