<a href="https://colab.research.google.com/github/6mini/AI_Fashion_Analyzer/blob/main/n121a_hypothesis_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 1*

# üìù Assignment

# Í∞ÄÏÑ§ Í≤ÄÏ†ï

## 1. One-Sample T-test Ïó∞Ïäµ

### Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
- [ÏÑúÏö∏Ïãú Í∞ÄÎ°úÏàò Îç∞Ïù¥ÌÑ∞ÏÖã](https://data.seoul.go.kr/dataList/367/S/2/datasetView.do)ÏùÑ ÏÇ¨Ïö©Ìï©ÎãàÎã§.

Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏÑ∏Ïöî. 
<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt>

In [1]:
import pandas as pd

trees = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt', sep = '\t', skiprows = 1)
trees = trees.replace({'-':0})
trees.head()

     Í∏∞Í∞Ñ  ÏûêÏπòÍµ¨    ÎÖ∏ÏÑ†Ïàò       ÏàòÎüâ     ÏùÄÌñâÎÇòÎ¨¥  ...    Î¨¥Í∂ÅÌôî    ÏÜåÎÇòÎ¨¥   Î™©Î†®    Ïù¥ÌåùÎÇòÎ¨¥      Í∏∞ÌÉÄ
0  2019  ÏÑúÏö∏Ïãú  1,412  307,351  108,050  ...  2,374  4,539  378  20,088  20,112
1  2019  Ï¢ÖÎ°úÍµ¨     70    7,329    4,072  ...      0    239    0     711      29
2  2019   Ï§ëÍµ¨     48    8,250    3,640  ...     46  2,162    0     470     817
3  2019  Ïö©ÏÇ∞Íµ¨     39    7,835    4,444  ...      0     51  126     198     780
4  2019  ÏÑ±ÎèôÍµ¨     38    8,120    1,090  ...      0     53    0     709     646

[5 rows x 24 columns]

### "ÏÑúÏö∏ÏãúÏóêÎäî Íµ¨Î≥ÑÎ°ú ÌèâÍ∑† ÏïΩ 400 Í∑∏Î£® Ï†ïÎèÑÏùò `Ïù¥ÌåùÎÇòÎ¨¥`Í∞Ä ÏûàÎã§"ÎùºÎäî Í∞ÄÏÑ§Ïóê ÎåÄÌï¥ Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌïòÏÑ∏Ïöî.

- Îã®, `ÏÑúÏö∏Ïãú`, `Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå`, `ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®` Î∂ÄÎ∂ÑÏùò Îç∞Ïù¥ÌÑ∞Îäî Ï†úÏô∏Ìï©ÎãàÎã§.
- Í∞ÄÏÑ§Í≤ÄÏ†ï Í≤∞Í≥ºÏùò pvalue Í∞íÏùÑ `pv1`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî. (`.pvalue` ÏÇ¨Ïö©)

In [2]:
# ÏÑúÏö∏Ïãú, Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå, ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã® Î∂ÄÎ∂ÑÏùò Îç∞Ïù¥ÌÑ∞Îäî Ï†úÏô∏
tridx1 = trees[trees['ÏûêÏπòÍµ¨'] == 'ÏÑúÏö∏Ïãú'].index
tridx2 = trees[trees['ÏûêÏπòÍµ¨'] == 'Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå'].index
tridx3 = trees[trees['ÏûêÏπòÍµ¨'] == 'ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®'].index
trees = trees.drop(tridx1)
trees = trees.drop(tridx2)
trees = trees.drop(tridx3)
trees.head()

     Í∏∞Í∞Ñ  ÏûêÏπòÍµ¨ ÎÖ∏ÏÑ†Ïàò     ÏàòÎüâ   ÏùÄÌñâÎÇòÎ¨¥  ÏñëÎ≤ÑÏ¶òÎÇòÎ¨¥  ... ÏÇ¥Íµ¨ÎÇòÎ¨¥ Î¨¥Í∂ÅÌôî    ÏÜåÎÇòÎ¨¥   Î™©Î†® Ïù¥ÌåùÎÇòÎ¨¥   Í∏∞ÌÉÄ
1  2019  Ï¢ÖÎ°úÍµ¨  70  7,329  4,072  1,071  ...    0   0    239    0  711   29
2  2019   Ï§ëÍµ¨  48  8,250  3,640    162  ...   21  46  2,162    0  470  817
3  2019  Ïö©ÏÇ∞Íµ¨  39  7,835  4,444  1,422  ...   39   0     51  126  198  780
4  2019  ÏÑ±ÎèôÍµ¨  38  8,120  1,090  2,401  ...    0   0     53    0  709  646
5  2019  Í¥ëÏßÑÍµ¨  28  7,223  1,247  2,306  ...    0   0     20  113  760  443

[5 rows x 24 columns]

In [3]:
epop = pd.to_numeric(trees['Ïù¥ÌåùÎÇòÎ¨¥'].str.replace(',',''))
epop.head()

1    711
2    470
3    198
4    709
5    760
Name: Ïù¥ÌåùÎÇòÎ¨¥, dtype: int64

In [4]:
import numpy as np
from scipy import stats as st

print(np.mean(epop))

# ÏÑúÏö∏ÏãúÏóêÎäî Íµ¨Î≥ÑÎ°ú ÌèâÍ∑† ÏïΩ 400 Í∑∏Î£® Ï†ïÎèÑÏùò Ïù¥ÌåùÎÇòÎ¨¥Í∞Ä ÏûàÎã§"ÎùºÎäî Í∞ÄÏÑ§Ïóê ÎåÄÌï¥ Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ ÏãúÌñâ
pv1 = st.ttest_1samp(epop, 400).pvalue
print(pv1)

688.64
0.002470712850935819

### Ïù¥Î≤àÏóêÎäî 10Í∞úÏùò Íµ¨Î•º ÏÉòÌîåÎßÅÌïòÏó¨, ÏúÑÏóê ÎåÄÌïú Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ Îã§Ïãú ÌïúÎ≤à ÏãúÌñâÌï¥Î≥¥ÏÑ∏Ïöî.

- Îã®, ÏïÑÎûòÏùò ÏΩîÎìúÎ•º Ï∞∏Ï°∞ÌïòÏó¨ sampleÏùÑ ÏúÑÌïú seed Îäî 123Î°ú ÏÑ§Ï†ïÌïòÏÑ∏Ïöî.
- Í∞ÄÏÑ§Í≤ÄÏ†ï Í≤∞Í≥ºÏùò pvalueÍ∞íÏùÑ `pv2`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî

In [24]:
# random seedÏôÄ choiceÏùò Í¥ÄÍ≥Ñ
np.random.seed(123)
epop2 = np.random.choice(epop, size = 10)
# Ï§ëÎ≥µÏ†úÍ±∞
epop2 = np.unique(epop2) 
pv2 = st.ttest_1samp(epop2, 400).pvalue
pv2

0.38638498922886266

## 2. Two-Sample T-test Ïó∞Ïäµ

### "ÏÑúÏö∏ÏãúÏùò Íµ¨Î≥Ñ ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥ÏàòÏôÄ ÏôïÎ≤öÎÇòÎ¨¥Ïùò ÏàòÎäî Ï∞®Ïù¥Í∞Ä ÏóÜÎã§"ÎùºÎäî Í∞ÄÏÑ§Ïóê ÎåÄÌï¥ Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌïòÏÑ∏Ïöî.

- Îã®, `ÏÑúÏö∏Ïãú`, `Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå`, `ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®` Î∂ÄÎ∂ÑÏùò Îç∞Ïù¥ÌÑ∞Îäî Ï†úÏô∏Ìï©ÎãàÎã§.
- Í∞ÄÏÑ§Í≤ÄÏ†ï Í≤∞Í≥ºÏùò pvalueÎ•º `pv3`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî

In [6]:
# H0 : ÎäêÌã∞ = ÏôïÎ≤ö
# H1 : ÎäêÌã∞ != ÏôïÎ≤ö
nttree = pd.to_numeric(trees['ÎäêÌã∞ÎÇòÎ¨¥'].str.replace(',',''))
kingtree = pd.to_numeric(trees['ÏôïÎ≤öÎÇòÎ¨¥'].str.replace(',',''))
print(nttree.head())
print(kingtree.head())

1     619
2     460
3     373
4    1975
5    1057
Name: ÎäêÌã∞ÎÇòÎ¨¥, dtype: int64
1    421
2    289
3    262
4    602
5    940
Name: ÏôïÎ≤öÎÇòÎ¨¥, dtype: int64

In [7]:
print(np.mean(nttree))
print(np.mean(kingtree))

1415.12
1292.0

In [8]:
pv3 = st.ttest_ind(nttree,kingtree).pvalue
pv3
# H0 Í∏∞Í∞ÅÌï† Ïàò ÏóÜÎã§.

0.6455096880085703


### Two-Sample One-tailed testÎ•º ÏÇ¨Ïö©ÌïòÏó¨ **ÌèâÍ∑† ÎäêÌã∞ÎÇòÎ¨¥ÏàòÍ∞Ä ÏôïÎ≤öÎÇòÎ¨¥ ÏàòÎ≥¥Îã§ ÌÅ¨Îã§**ÎùºÎäî Í∞ÄÏÑ§Ïóê ÎåÄÌïú Í∞ÄÏÑ§Í≤ÄÏ†ïÏùÑ ÏãúÌñâÌïòÏÑ∏Ïöî.
- Ìï¥Îãπ Í∞ÄÏÑ§Í≤ÄÏ†ïÏùò Í≤∞Í≥ºÎ•º `ans`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî.

Ïù¥ Îïå `ans`Í∞Ä Í∞ÄÏßà Ïàò ÏûàÎäî Í∞íÏùÄ ÏïÑÎûòÏôÄ Í∞ôÏäµÎãàÎã§ :
1. "ÎäêÌã∞ÎÇòÎ¨¥" ( ÎäêÌã∞ÎÇòÎ¨¥Ïùò ÏàòÍ∞Ä ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú Ïú†ÏùòÌïòÍ≤å ÎßéÏùÄ Í≤ΩÏö∞ )
2. "ÏôïÎ≤öÎÇòÎ¨¥" ( ÏôïÎ≤öÎÇòÎ¨¥Ïùò ÏàòÍ∞Ä ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú Ïú†ÏùòÌïòÍ≤å ÎßéÏùÄ Í≤ΩÏö∞ )
3. "ÏóÜÏùå" (ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú Ïú†ÏùòÌïòÏßÄ ÏïäÏùÄ Í≤ΩÏö∞)

Two-Sample One-tailed testÎ•º scipyÏóêÏÑú ÌïòÎäî Î∞©Î≤ïÏùÄ ÏïÑÎûòÏùò ÎßÅÌÅ¨Î•º Ï∞∏Í≥† ÌïòÏÑ∏Ïöî  
Ï∞∏Í≥† ÎßÅÌÅ¨ : https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html

In [9]:
# ÏïÑÎûòÏùò ÏΩîÎìúÎ•º Ïã§ÌñâÌï¥Ï£ºÏÑ∏Ïöî
!pip install scipy --upgrade

Requirement already up-to-date: scipy in /usr/local/lib/python3.7/dist-packages (1.7.0)
Requirement already satisfied, skipping upgrade: numpy<1.23.0,>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from scipy) (1.19.5)

In [10]:
t = st.ttest_ind(nttree,kingtree).statistic

In [11]:
# one tailed
# Í∑ÄÎ¨¥ : ÎäêÌã∞ > ÏôïÎ≤ö
# ÎåÄÏïà : ÏôïÎ≤ö >=ÎäêÌã∞

print(st.ttest_ind(nttree,kingtree))
print(st.ttest_ind(kingtree,nttree))

if pv3 / 2 < 0.05 and t > 0:
    ans = "ÎäêÌã∞ÎÇòÎ¨¥"
elif pv3 / 2 < 0.05 and t < 0:
    ans = "ÏôïÎ≤öÎÇòÎ¨¥"
else:
    ans = "ÏóÜÏùå"

Ttest_indResult(statistic=0.4629256014492562, pvalue=0.6455096880085703)
Ttest_indResult(statistic=-0.4629256014492562, pvalue=0.6455096880085703)

In [12]:
ans

'ÏóÜÏùå'

## üî• **ÎèÑÏ†ÑÍ≥ºÏ†ú**
> 2Î¨∏Ï†ú Î™®Îëê ÌïòÎ©¥ Îê©ÎãàÎã§.

### 1. Compare mean for multiple-sample 
 
Îã§Ïùå ÎßÅÌÅ¨Î•º Ï∞∏Ï°∞ÌïòÏÑ∏Ïöî. <https://reneshbedre.github.io/blog/anova.html>

Íµ¨Î≥Ñ, ÏùÄÌñâÎÇòÎ¨¥, ÏñëÎ≤ÑÏ¶òÎÇòÎ¨¥, ÎäêÌã∞ÎÇòÎ¨¥Ïóê ÎåÄÌï¥ÏÑú ANOVA TestÎ•º Ïã§ÌñâÌïòÏÑ∏Ïöî.

Îã®, `ÏÑúÏö∏Ïãú`, `Í≥µÏõêÎÖπÏßÄÏÇ¨ÏóÖÏÜå`, `ÏãúÏÑ§Í¥ÄÎ¶¨Í≥µÎã®` Î∂ÄÎ∂ÑÏùò Îç∞Ïù¥ÌÑ∞Îäî Ï†úÏô∏Ìï©ÎãàÎã§.

In [13]:
bank = pd.to_numeric(trees['ÏùÄÌñâÎÇòÎ¨¥'].str.replace(',',''))
sheep = pd.to_numeric(trees['ÏñëÎ≤ÑÏ¶òÎÇòÎ¨¥'].str.replace(',',''))
print(bank.head())
print(sheep.head())
print(nttree.head())

1    4072
2    3640
3    4444
4    1090
5    1247
Name: ÏùÄÌñâÎÇòÎ¨¥, dtype: int64
1    1071
2     162
3    1422
4    2401
5    2306
Name: ÏñëÎ≤ÑÏ¶òÎÇòÎ¨¥, dtype: int64
1     619
2     460
3     373
4    1975
5    1057
Name: ÎäêÌã∞ÎÇòÎ¨¥, dtype: int64

In [23]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
import matplotlib.pyplot as plt
# anova test
print(st.f_oneway(bank, sheep, nttree))
afv, apv = st.f_oneway(bank, sheep, nttree)
print('ANOVA Test Í≤∞Í≥º : F={0:.1f}, P={1:.5f}'.format(afv, apv))
if apv < 0.05:
    print('P-value Í∞íÏù¥ Ï∂©Î∂ÑÌûà ÏûëÏùåÏúºÎ°ú Ïù∏Ìï¥ Í∑∏Î£πÏùò ÌèâÍ∑†Í∞íÏù¥ ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú Ïú†ÏùòÎØ∏ÌïòÍ≤å Ï∞®Ïù¥ÎÇ©ÎãàÎã§.')

F_onewayResult(statistic=17.006289557888046, pvalue=8.935183167883698e-07)
ANOVA Test Í≤∞Í≥º : F=17.0, P=0.00000
P-value Í∞íÏù¥ Ï∂©Î∂ÑÌûà ÏûëÏùåÏúºÎ°ú Ïù∏Ìï¥ Í∑∏Î£πÏùò ÌèâÍ∑†Í∞íÏù¥ ÌÜµÍ≥ÑÏ†ÅÏúºÎ°ú Ïú†ÏùòÎØ∏ÌïòÍ≤å Ï∞®Ïù¥ÎÇ©ÎãàÎã§.

### 2. Sampling

- ÏÑ∏ÏÖò ÏãúÍ∞ÑÏóê Î∞∞Ïõ†Îçò 4Í∞ÄÏßÄ sampling (Simple Random, Systematic, Stratified Random, Cluster) Î∞©ÏãùÏùÑ Íµ¨ÌòÑÌï¥Î≥¥ÏÑ∏Ïöî.

- Ïù¥Î•º ÏúÑÌïú Îç∞Ïù¥ÌÑ∞Îäî 1 Î∂ÄÌÑ∞ 100ÏùÑ Îã¥ÏùÄ numpy arrayÏù¥Î©∞, Sampling Ìï¥Ïïº ÌïòÎäî ÏàòÎäî 20Í∞ú ÏûÖÎãàÎã§.

- Stratified Random SamplingÏùÑ ÏúÑÌïú Í∑∏Î£πÏùÑ ÎÇòÎàÑÎäî Í∏∞Ï§ÄÏùÄ 1-10, 11-20, ... Í≥º Í∞ôÏùÄ Î∞©ÏãùÏûÖÎãàÎã§.

- Cluster SamplingÏóêÏÑú Í∑∏Î£πÏùÑ ÎÇòÎàÑÎäî Í∏∞Ï§ÄÏùÄ 5Î°ú ÎÇòÎà¥ÏùÑÎïåÏùò ÎÇòÎ®∏ÏßÄ Í∞íÏûÖÎãàÎã§. (0,1,2,3,4)

In [15]:
# 1-100 Î∞∞Ïó¥ ÎßåÎì§Í∏∞
nparr = []
for i in range(1, 101):
    nparr.append(i)

In [16]:
#Î∞∞Ïó¥ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÌôî
ar = np.array(nparr)
df_ar = pd.DataFrame(ar)
df_ar.head()

   0
0  1
1  2
2  3
3  4
4  5

In [17]:
#simple
simple_random_sample = df_ar.sample(n = 20).sort_values(by=0)
simple_random_sample

     0
0    1
4    5
5    6
8    9
13  14
31  32
35  36
42  43
44  45
50  51
59  60
70  71
81  82
82  83
86  87
88  89
92  93
94  95
97  98
98  99

In [18]:
# systematic Ìï®Ïàò ÏÉùÏÑ±
def systematic_sampling(df, step):
    indexes = np.arange(0,len(df),step=step)
    systematic_sample = df.iloc[indexes]
    return systematic_sample
    
# 20Í∞ú ÎΩëÍ∏∞ ÏúÑÌï¥ step 5Î°ú ÏÑ§Ï†ï
systematic_sample = systematic_sampling(df_ar, 5)
systematic_sample

     0
0    1
5    6
10  11
15  16
20  21
25  26
30  31
35  36
40  41
45  46
50  51
55  56
60  61
65  66
70  71
75  76
80  81
85  86
90  91
95  96

In [19]:
# Stratified Ï∂îÏ∂ú Ìï®Ïàò
def Stratified_sampling(df, number_of_Stratifieds):
    df['Stratified_id'] = np.repeat([range(1,number_of_Stratifieds+1)],len(df)/number_of_Stratifieds)
    indexes = []
    for i in range(0,len(df)):
        if df['Stratified_id'].iloc[i]%5 == 0:
            indexes.append(i)
    Stratified_sample = df.iloc[indexes]
    return Stratified_sample
        
Stratified_sample = Stratified_sampling(df_ar,10)
Stratified_sample

      0  Stratified_id
40   41              5
41   42              5
42   43              5
43   44              5
44   45              5
45   46              5
46   47              5
47   48              5
48   49              5
49   50              5
90   91             10
91   92             10
92   93             10
93   94             10
94   95             10
95   96             10
96   97             10
97   98             10
98   99             10
99  100             10

In [20]:
# ÎÇòÎ®∏ÏßÄ Í∞íÏóê Îî∞Î•∏ Î≥ÑÎ°ú Í∑∏Î£π ÎßåÎì§Ïñ¥Ï£ºÍ∏∞
cl_arr = []
for i in range(1,101):
    if i % 5 == 0:
        cl_arr.append(0)
    if i % 5 == 1:
        cl_arr.append(1)
    if i % 5 == 2:
        cl_arr.append(2)
    if i % 5 == 3:
        cl_arr.append(3)
    if i % 5 == 4:
        cl_arr.append(4)
df_ar['cl_id'] = cl_arr
df_ar.head()

   0  Stratified_id  cl_id
0  1              1      1
1  2              1      2
2  3              1      3
3  4              1      4
4  5              1      0

In [21]:
# ÎÇúÏàò ÌïòÎÇòÎßå Ï∂îÏ∂úÌïòÏó¨ ÎÇòÎ®∏ÏßÄ Í∑∏Î£π Ï∂îÏ∂ú
from random import *
rdi = randrange(4)
Cluster_Sample = df_ar[df_ar['cl_id'] == rdi]
Cluster_Sample

     0  Stratified_id  cl_id
1    2              1      2
6    7              1      2
11  12              2      2
16  17              2      2
21  22              3      2
26  27              3      2
31  32              4      2
36  37              4      2
41  42              5      2
46  47              5      2
51  52              6      2
56  57              6      2
61  62              7      2
66  67              7      2
71  72              8      2
76  77              8      2
81  82              9      2
86  87              9      2
91  92             10      2
96  97             10      2

In [22]:
print(simple_random_sample)
print(systematic_sample)
print(Stratified_sample)
print(Cluster_Sample)

     0
0    1
4    5
5    6
8    9
13  14
31  32
35  36
42  43
44  45
50  51
59  60
70  71
81  82
82  83
86  87
88  89
92  93
94  95
97  98
98  99
     0
0    1
5    6
10  11
15  16
20  21
25  26
30  31
35  36
40  41
45  46
50  51
55  56
60  61
65  66
70  71
75  76
80  81
85  86
90  91
95  96
      0  Stratified_id
40   41              5
41   42              5
42   43              5
43   44              5
44   45              5
45   46              5
46   47              5
47   48              5
48   49              5
49   50              5
90   91             10
91   92             10
92   93             10
93   94             10
94   95             10
95   96             10
96   97             10
97   98             10
98   99             10
99  100             10
     0  Stratified_id  cl_id
1    2              1      2
6    7              1      2
11  12              2      2
16  17              2      2
21  22              3      2
26  27              3      2
31  32              4      2
36  37              4      2
41  42              5      2
46  47              5      2
51  52              6      2
56  57              6      2
61  62              7      2
66  67              7      2
71  72              8      2
76  77              8      2
81  82              9      2
86  87              9      2
91  92             10      2
96  97             10      2